.carrusel {
    width: 100%;
    height: 30vh;
 
  }
  .rower {
    width: 100%;
    height: 30vh;
    background-color: aquamarine;
  }
  ion-content {
    --background: #14cd11;
    width: 100%;
  }