.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: clamp(0px, 10vw, 100px);
  width: 100%;
  background-color: rgb(17, 17, 17);
  z-index: 1;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #000000,#0000005e,#000000 ), url('/image/backgrounds/bg4.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 0;
  filter: blur(2px);
}

.ul {
  list-style: none;
  margin-top: 5%;
  padding: 0;
  mask-image: linear-gradient(to bottom, transparent, black 5%, black 90%, rgba(0, 0, 0, 0.705));
  overflow: auto;
}

.rowDosColumnas {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.columnaIzquierda {
  position:relative;
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: space-start;
  align-items: center;
  align-content: center;
  width: clamp(200px, 30vw, 400px);
  height: 100%;

  margin-right: 20px;
  background-color: transparent;
  z-index: 1;  border: 5px double #008a5a;
  border-radius: 24px;
}

.barraEffect {
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.971), #00000097);
  z-index: -1;
  border: 5px double #008a5a;
  border-radius: 24px;
}

.columnaDerecha {
  position: relative;
  display: flex;
  flex: 10;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  height: 80vh;
  gap: 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.872), rgb(0, 0, 0));
  border: 5px double #008a5a;
  border-radius: 24px;
  padding: 24px;
  overflow: hidden;
}

.tituloContenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: #ffffff;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  background-color: #034e30;
}

.titulo {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.videoListHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.videoListHorizontal ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 20px;
  padding: 0;
  margin: 0;
}

.dropdown {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
  border: 1px solid #034e30;
  border-radius: 10px;
  background-color: #034e30;
  color: #ffffff;
}

@media (max-width: 768px) {
  section {
    padding-left: clamp(20px, 5vw, 50px);
    padding-right: clamp(20px, 5vw, 50px);
    margin: 0px;
    gap: 1rem;
  }

  .videoItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .categoriaLista ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 200px;
    background-color: aquamarine;
  }

  .rowDosColumnas {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .columnaIzquierda {
    width: 100%;
    height: auto;
    padding: 8px;
    gap: 20px;
    margin-right: 0px;
  }

  .barraEffect {
    display: none;
  }

  .columnaDerecha {
    width: 95vw;
    flex: 12;
  }

  .videoListHorizontal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;
  }

  .videoListHorizontal ul {
    display: contents; /* Allow grid items to be directly under grid container */
  }

  .videoItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
}
