.content {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .videoPlayer {
    width: 100%;
    height:  100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    object-fit: cover;
  }
  .videoContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
  }